.container{
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
}
.container input{
    width: 90%;
    padding: 10px;
    margin-block: 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
    font-size: 12px;
}